{% extends 'core/base.html' %}

{% block title %}
    Vehículo | Vehículo: listado
{% endblock title %}

{% block body_title %}
    Vehículo: Lista de combis, pasajeros y conductores
{% endblock body_title %}

{% block content %}

{% if Turno_de_recorrido %}
    <p>"Hay datos"</p>
{% else %}
    <p>"No hay registro"</p>
{% endif %}

{% for turno in Turno_de_recorrido %}
    <ul>
        <li><h3>{{ turno.nombre }}</h3></li>
        <p>Nombre: {{ turno.nombre }}</p>
        <p>Combi: {{ turno.combi }}</p>
        <p>Conductor: {{ turno.conductor }}</p>
        <p>Pasajero: {{ turno.pasajero }}</p>
    </ul>
{% endfor %}
{% endblock content %}
